<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.BlogBackPro.mapper.BlogMapper">
    <insert id="newBlog">
        INSERT INTO blog (title, content, authorid) VALUES (#{title}, #{content}, #{authorId})
    </insert>

    <update id="modifyBlog">
        UPDATE blog SET content = #{content}, title = #{title} where blogid = #{blogId}
    </update>

    <delete id="deleteBlog">
        DELETE FROM blog WHERE blogid = #{blogId}
    </delete>

    <select id="queryAllBlogs" resultType="com.BlogBackPro.model.BlogBean">
        SELECT * from blog
    </select>

    <select id="queryBlogsByUserId" resultType="com.BlogBackPro.model.BlogBean">
        SELECT * from blog where authorid = #{authorId}
    </select>

    <select id="queryBlogByBlogId" resultType="com.BlogBackPro.model.BlogBean">
        SELECT * from blog where blogid = #{blogId}
    </select>

    <select id="queryAuthorByBlogId" resultType="Integer">
        SELECT authorid from blog where blogid = #{blogId}
    </select>
</mapper>